/* INIZIO DEBUG
.debug .container {
 background-color: pink;
}
.debug [class*="col-"] {
 border: 1px solid black;
}
 FINE DEBUG */

/* INIZIO FRAMEWORK */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}
.container::after {
  content: '';
  display: table;
  clear: both;
}
[class*="col-"] {
  float: left;
}
.col-1 {
  width: calc( (100% / 12) *  1);
}
.col-2 {
  width: calc( (100% / 12) * 2);
}
.col-3 {
  width: calc( (100% / 12) * 3);
}

.col-4 {
  width: calc( (100% / 12) * 4);
}
.col-5 {
  width: calc( (100% / 12) * 5);
}
.col-6 {
  width: calc( (100% / 12) * 6);
}
.col-7 {
  width: calc( (100% / 12) * 7);
}
.col-8 {
  width: calc( (100% / 12) * 8);
}
.col-9 {
  width: calc( (100% / 12) * 9);
}

.col-10 {
  width: calc( (100% / 12) * 10);
}
.col-11 {
  width: calc( (100% / 12) * 11);
}
.col-12 {
  width: calc( (100% / 12) * 12);
}
/* FINE FRAMEWORK */

/* INIZIO OFFSET */
.offset-1 {
  width: calc( (100% / 12) *  1);
}
.offset-2 {
  width: calc( (100% / 12) *  2);
}
.offset-3 {
  width: calc( (100% / 12) *  3);
}
.offset-4 {
  width: calc( (100% / 12) *  4);
}
.offset-5 {
  width: calc( (100% / 12) *  5);
}
.offset-6 {
  width: calc( (100% / 12) *  6);
}
.offset-7 {
  width: calc( (100% / 12) *  7);
}
.offset-8 {
  width: calc( (100% / 12) *  8);
}
.offset-9 {
  width: calc( (100% / 12) *  9);
}
.offset-10 {
  width: calc( (100% / 12) *  10);
}
.offset-11 {
  width: calc( (100% / 12) *  11);
}
/* FINE OFFSET */

/* INIZIO MEDIA QUERY */
/* inizio media query xs, da 0px a 768px */
@media screen and (max-width: 769px) {
  .col-xs-1{
    width: calc(100% /12);
  }
  .col-xs-2{
    width: calc((100% /12) *2);
  }
  .col-xs-3{
    width: calc((100% /12) *3);
  }
  .col-xs-4{
    width: calc((100% /12) *4);
  }
  .col-xs-5{
    width: calc((100% /12) *5);
  }
  .col-xs-6{
    width: calc((100% /12) *6);
  }
  .col-xs-7{
    width: calc((100% /12) *7);
  }
  .col-xs-8{
    width: calc((100% /12) *8);
  }
  .col-xs-9{
    width: calc((100% /12) *9);
  }
  .col-xs-10{
    width: calc((100% /12) *10);
  }
  .col-xs-11{
    width: calc((100% /12) *11);
  }
  .col-xs-12{
    width: calc((100% /12) *12);
  }

}

/* fine media query xs */

/* inizio media query md, da 768px a 992px */
@media screen and (min-width:768px) and (max-width: 992px) {
  .col-md-1{
    width: calc (100%/12);
  }

  .col-md-2{
    width: calc((100% /12) *2);
  }
  .col-md-3{
    width: calc((100% /12) *3);
  }
  .col-md-4{
    width: calc((100% /12) *4);
  }
  .col-md-5{
    width: calc((100% /12) *5);
  }
  .col-md-6{
    width: calc((100% /12) *6);
  }
  .col-md-7{
    width: calc((100% /12) *7);
  }
  .col-md-8{
    width: calc((100% /12) *8);
  }
  .col-md-9{
    width: calc((100% /12) *9);
  }
  .col-md-10{
    width: calc((100% /12) *10);
  }
  .col-md-11{
    width: calc((100% /12) *11);
  }
  .col-md-12{
    width: calc((100% /12) *12);
  }
}

/* fine media query md */

/* inizio media query lg ,da 992px in su*/
@media screen and (min-width:992px) {
  .col-lg-1 {
    width: calc (100%/12);
  }

  .col-lg-2{
    width: calc((100% /12) *2);
  }
  .col-lg-3{
    width: calc((100% /12) *3);
  }
  .col-lg-4{
    width: calc((100% /12) *4);
  }
  .col-lg-5{
    width: calc((100% /12) *5);
  }
  .col-lg-6{
    width: calc((100% /12) *6);
  }
  .col-lg-7{
    width: calc((100% /12) *7);
  }
  .col-lg-8{
    width: calc((100% /12) *8);
  }
  .col-lg-9{
    width: calc((100% /12) *9);
  }
  .col-lg-10{
    width: calc((100% /12) *10);
  }
  .col-lg-11{
    width: calc((100% /12) *11);
  }
  .col-lg-12{
    width: calc((100% /12) *12);
  }
}

/* fine media query lg */
/* FINE MEDIA QUERY */
